body {
    background-color: #ededed;
    color: #002d0b;
}

main {
    font-size: 14pt;
}

.navbar {
    background: linear-gradient(270deg,#4b7555 0%, #659771 45%, #b2dabb 100%);
    /* margin: 0% 10% 0% 10%; */
    padding-left: 10%;
    padding-right: 15%;
    border-radius: 0px 0px 50% 50%;
}

.nav-highlight {
    color: #ffffff;
}

.nav-text {
    color: #ededed;
}

.nav-head {
    width: 60%;
    color: #002d0b;
}

.nav-link:hover,
.fa-linkedin:hover,
.fa-github:hover{
    color:#b2dabb;
    cursor: pointer;
}

/* Additional settings and placement for navbar toggler */
.navbar-toggler {
    border: solid 2px #6c757d;
    margin-right: 15px;
}

/* Additional settings specific to navbar items */
.nav-item {
    margin-left: 15px;
    font-size: larger;
}

.navbar-toggler {
    color: #ededed;
    border-color: #ededed;
}

.modal-content {
    border-radius: 16px;
}

.modal-body {
    background: linear-gradient(90deg,#4b7555 0%, #659771 25%, #b2dabb 100%);
    border-radius: 15px;
}

.btn-close {
    color: #b2dabb;
}

.bi-list {
    color: #ededed;
}

a {
    color: #029323;
    text-decoration: none;
}

a:hover {
    color: #bb6400;
}

.fa-linkedin,
.fa-github {
    color: #ededed;
    padding-left: 5px;
}

.home-subtitle {
    font-size: 25px;
}

.portrait{
    width: 300px;
    border-radius: 40% 10% / 15% 20%;
    background: #c1cec5;
    margin-top: -80%;
    padding-top: 300px;
}

.main-background {
    background: radial-gradient(#a9a9a9,#e7e7e7);
}

.att-icon {
    font-size: xx-large;
}

.att-icon:hover {
    color: #029323;
}

.container-xs {
    max-width: 450px;
    margin: auto;
}

/* Settings for thumbnail in About Me section */
.img-thumbnail {
    width: 50%;
    max-width: 350px;
    min-width: 150px;
    float: left;
    margin-right: 15px;
}

/* Settings for pictures on portfolio page */
.proj-img {
    margin-bottom: 20px;
    /* max-height: 450px; */
    max-width: 450px;
    /* min-width: 150px; */
    width: 100%;
}

.cards {
    border-radius: 5%;
}

/* Used to pad the rows inside the container */
.row {
    padding: 15px;
}

/* Settings for submission button on contact form */
.btn {
    width: 100px;
    margin-left: 12px;
    background-color: #005814;
    border: solid 1px #005814;
    color: white;
    
}

.btn:hover {
    background-color: #029323;
    border: solid 1px #029323;
    color: white;
}

/* Settings for placement of social media icons */
.social {
    width: 30px;
    margin-bottom: 10px;
}

.portfolio-links {
    color: #006418;
    text-decoration: none;
}

.portfolio-links:hover, 
.portfolio-links:active {
    color: #029323;
}


/* General settings for footer */
footer {
    border-radius: 75% 75% 0px 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #ededed;
    text-align: center;
    font-size: smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg,#4b7555 0%, #659771 25%, #b2dabb 100%);
    /* border-top: solid 2px #d46c0a; */
}

@media screen and (max-width: 479px) {
    .img {
        max-width: 100%;
    }

    .portrait{
        width:200px;
        padding-top: 100px;
    }

}

@media screen and (min-width: 480px) {
    .container-xs {
        max-width: 80%;
    }

    .img {
        width: 250px;
    }

    /* .card-text,
    .card-title {
        margin-left: 20px;
    } */
}

@media screen and (min-width: 992px) {
    .container-xs {
        max-width: 70%;
    }

    .img-thumbnail,
    .img {
        width: 350px;
    }

    /* .form-control {
        max-width: 500px;
    } */

    
}

@media screen and (max-width: 1400px) {
    .portrait {
        margin-right: 20%;
    }

    
}