body {
    background-color: #e6e6e6;
}

main {
    font-size: 16pt;
}

/* Settings for the Adam Horn brand on the navbar */
.navbar-brand {
    background-color: #d46c0a;
    font-size: x-large;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-brand:hover {
    background-color:#f68f2f;
}

/* Additional settings and placement for navbar toggler */
.navbar-toggler {
    border: solid 2px #6c757d;
    margin-right: 15px;
}

/* Additional settings specific to navbar items */
.nav-item {
    margin-left: 15px;
    font-size: larger;
}

/* Setting for indicating current page in the navbar */
.text-dark {
    font-weight: bolder;
}

/* Header settings */
header {
    color: #d46c0a; 
    font-size: 30pt;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px lightgray;
}

.container-xs {
    max-width: 450px;
    margin: auto;
}

/* Settings for thumbnail in About Me section */
.img-thumbnail {
    width: 50%;
    max-width: 350px;
    min-width: 150px;
    float: left;
    margin-right: 15px;
}

/* Settings for pictures on portfolio page */
.img {
    margin-bottom: 20px;
    max-height: 350px;
    max-width: 350px;
    min-width: 150px;
}

/* Used to pad the rows inside the container */
.row {
    padding: 15px;
}

/* Settings for submission button on contact form */
.btn {
    width: 100px;
    margin-left: 12px;
    background-color: #d46c0a;
    border: solid 1px #d46c0a;
    color: white;
    
}

.btn:hover {
    background-color: #f68f2f;
    border: solid 1px #f68f2f;
    color: white;
}

/* Settings for placement of social media icons */
.social {
    width: 30px;
    margin-bottom: 10px;
}

.portfolio-links {
    color: #d46c0a;
    text-decoration: none;
}

.portfolio-links:hover, 
.portfolio-links:active {
    color: #008b8b;
}


/* General settings for footer */
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    color: darkgrey;
    text-align: center;
    font-size: smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #666666;
    border-top: solid 5px #d46c0a;
}

@media screen and (max-width: 480px) {
    .img {
        max-width: 100%;
    }
}

@media screen and (min-width: 750px) {
    .container-xs {
        max-width: 740px;
    }

    .img {
        width: 250px;
    }

    .card-text,
    .card-title {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1260px) {
    .container-xs {
        max-width: 1100px;
        margin: auto;
    }

    .img-thumbnail,
    .img {
        width: 350px;
    }

    .form-control {
        max-width: 500px;
    }

    
}